In [4]:
import pandas as pd 
from sklearn.preprocessing import StandardScaler

In [2]:
metadata = pd.read_csv("data/data/beer_metadata.csv")
metadata

,beer_id,beer_name,brewer_id,beer_abv,beer_style
0,63836,John Harvards Simcoe IPA,8481,5.4,India Pale Ale &#40;IPA&#41;
1,71716,John Harvards Cristal Pilsner,8481,5,Bohemian Pilsener
2,64125,John Harvards Fancy Lawnmower Beer,8481,5.4,Klsch
3,31544,John Harvards Vanilla Black Velvet Stout,8481,-,Sweet Stout
4,71714,John Harvards American Brown Ale,8481,-,Brown Ale
...,...,...,...,...,...
112045,958,Pyramid Best Brown,154,5.1,Brown Ale
112046,959,Pyramid Espresso Stout,154,-,Sweet Stout
112047,98518,Pyramid Rollick Amber Lager,154,6,Amber Ale
112048,98914,Pyramid Snow Cap&#40;&#8217;n & Tennille&#41;,154,7,English Strong Ale
112049,29160,Buffalo Bills Orange Blossom Cream Ale,154,5.2,Fruit Beer

In [3]:
metadata_transformed = metadata.copy()
metadata_transformed["beer_id"] = pd.to_numeric(metadata_transformed['beer_id'], errors='coerce')
metadata_transformed.dropna(how="any", inplace=True)
metadata_transformed["beer_id"] = metadata_transformed['beer_id'].astype("int")
metadata_transformed = metadata_transformed.drop(columns=["brewer_id"])
metadata_transformed = metadata_transformed.drop_duplicates()
metadata_transformed['beer_abv'] = pd.to_numeric(metadata_transformed['beer_abv'], errors='coerce')
metadata_transformed

,beer_id,beer_name,beer_abv,beer_style
0,63836,John Harvards Simcoe IPA,5.4,India Pale Ale &#40;IPA&#41;
1,71716,John Harvards Cristal Pilsner,5.0,Bohemian Pilsener
2,64125,John Harvards Fancy Lawnmower Beer,5.4,Klsch
3,31544,John Harvards Vanilla Black Velvet Stout,NaN,Sweet Stout
4,71714,John Harvards American Brown Ale,NaN,Brown Ale
...,...,...,...,...
112044,25876,Pyramid Underground Porter,5.5,Porter
112045,958,Pyramid Best Brown,5.1,Brown Ale
112046,959,Pyramid Espresso Stout,NaN,Sweet Stout
112047,98518,Pyramid Rollick Amber Lager,6.0,Amber Ale
112048,98914,Pyramid Snow Cap&#40;&#8217;n & Tennille&#41;,7.0,English Strong Ale

In [7]:

beer_features = pd.get_dummies(metadata_transformed["beer_style"])
beer_features["beer_abv"] = metadata_transformed.groupby('beer_style')[["beer_abv"]].transform(lambda group: group.fillna(group.mean()))
min_max_scaler = StandardScaler()
beer_features["beer_abv"] = min_max_scaler.fit_transform(beer_features[["beer_abv"]])
beer_features

,Abbey Dubbel,Abbey Tripel,Abt/Quadrupel,Altbier,Amber Ale,American Dark Lager,American Pale Ale,American Strong Ale,Baltic Porter,Barley Wine,...,Spice/Herb/Vegetable,Stout,Strong Pale Lager/Imperial Pils,Sweet Stout,Traditional Ale,Vienna,Weizen Bock,Wheat Ale,Zwickel/Keller/Landbier,beer_abv
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.400000
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.000000
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.400000
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,5.793620
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.477251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112044,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.500000
112045,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.100000
112046,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,5.793620
112047,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6.000000
112048,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7.000000